@model IEnumerable<Website.ViewModel.SeriesTVViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Admin/table-css")


<div class="row">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-9">
                        <h2>Quản lý <b>Phim bộ</b></h2>
                    </div>
                    <div class="col-sm-3">
                        <a href="#addActorModal" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"></i><span>Thêm mới</span></a>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small"
                       placeholder="Tìm kiếm..." aria-label="Search"
                       id="keyword" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="btnSeach" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>

            <div id="customer_area">
                @{Html.RenderAction("GetPageSearch", "ManagerSeriesTV", new { page = 1 });}
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="addActorModal" class="modal fade">
        @Html.Action("Create", "ManagerSeriesTV")
    </div>

    <div id="deleteFilmModal" class="modal fade"></div>
</div>

@Scripts.Render("~/Script/jquery")
<script>
    $(document).ready(function () {
        $('body').on('click', '.delete', function (e) {
            e.preventDefault();
            $("#deleteFilmModal").remove();
            $.get($(this).data("targeturl"), function (data) {
                $('<div id="deleteFilmModal" class="modal fade">' +
                    data + '</div>').modal();
            });
        });
    });

    $('body').on('click', '#btnSeach', function (e) {
        e.preventDefault();
        var name = $('#keyword').val();
        if (name.trim() != null && name.trim().length != 0 && name.trim() != null) {
            var url = "/Admin/ManagerSeriesTV?name=" + name;
            window.location = url;
        } else {
            var url = "/Admin/ManagerSeriesTV";
            window.location = url;
        }
    });
</script>

<script type="text/javascript">
    function search() {
        var s = $('#keyword').val();
        var url = "/ManagerSeriesTV/Index?name=" + s;
        window.location = url;
    };

</script>