<div class="tab-pane" id="v-pills-home">
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Date Purchased</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="navi-link" href="#order-details" data-toggle="modal">78A643CD409</a></td>
                    <td>August 08, 2017</td>
                    <td><span class="badge badge-danger m-0">Canceled</span></td>
                    <td><span>$760.50</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
