@model Website.Models.UpdateUserViewModel

@{
    ViewBag.Title = "_DeleteUser";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("DeleteUser", "ManagerUsers", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="modal-header">
                <h4 class="modal-title">Xóa quyền người dùng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-warning">Bạn có muốn xóa @Model.FullName không?</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                <input type="submit" class="btn btn-danger" value="Xóa người dùng">
            </div>
        }
    </div>
</div>