@model ICollection<Website.ViewModel.MoviesViewModel>
    <!--  //mỗi 1 trang view thì chỉ có 1 cái model này thôi, và bên contrller phải truyền đùng kiểu
    như này là đang chuuyeefn sai: biết lý do ko: uk, vì bên này model là 1 phần tử, mà bên kia truyền 1 list
        bây giờ bên home này cần 1 lít movie để dưới for đúng ko => sửa lại kiểu của model
        ok rồi, giờ bên này sẽ nhận được dữ liệu từ controller gửi tới qua model
        //Cách 2 là truyền qua ViewBag vì mỗi 1 trang view chỉ được 1 cái model như trên, nhưng ví dụ như trang home
        nó ngoài danh sách phim hot, còn phải cần cả phim lẻ, phim bộ, traileer => t khuyên nên dùng cách này
        // cái này t ví dụ bằng cả 2 cách luôn :D-->

    @{
        /**/

        ViewBag.Title = "Home Page";
        var duLieu = ViewBag.SyHocGioi as ICollection<Website.ViewModel.MoviesViewModel>;//nhìn ép kiểu này => ok
    }
    <div class="banner-bottom">
        <div class="container">
            <div class="w3_agile_banner_bottom_grid">
                <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 3996px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-666px, 0px, 0px);">

                            <!-- start giờ for nè, tieeps theo là sửa dữ liệu như từng item 1-->
                            @* ko, cái nhánh này tạo ra để train cho ô thôi, mục tiêu của ô là đây: nó đấy
        trailer, cái trên thôi, ko cần cái slide chạy ở dưới*@


                            @*

        dđầu tiên là ô tạo repo của trailer, lấy ra được list các trailer mới nhất orderby theo createdate
                                tiếp đó là for để tìm ra được từng cái movie theo idMovie có trong item trailer => được list movie,
                                chỗ này hiểu ko
                                for này ô có thể for ở controleer hoặc view đều dc cả
                                đây nhé
                                có 1 list trailer, mà mỗi 1 cái triler sẽ có id của movie đúng ko
                                => cách đó cũng dc, 
                                mà thôi, ô thấy cách nào dễ hiểu thì làm ;)
                                game dễ mà nhỉ :D
                                ok thế có gì ko hiểu ko => good luck từ thanh niên 41 điểm đầu vào ;) 41 41 41 41
                                ok bye bb*@
                            @foreach (var item in Model)
                            {
                                <div class="owl-item" style="width: 222px;">
                                    <div class="item">
                                        <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                                            <a href="single.html" class="hvr-shutter-out-horizontal">
                                                <img src="@item.Thumbnail" title="album-name" class="img-responsive" alt=" ">
                                                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                            </a>
                                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                <div class="w3l-movie-text">
                                                    <h6><a href="single.html">@item.Name</a></h6>
                                                </div>
                                                <div class="mid-2 agile_mid_2_home">
                                                    <p>@item.CreatedDate.Value.Year</p>
                                                    <div class="block-stars">
                                                        <ul class="w3l-ratings">
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            @if (item.IsHot) //ko hot thì ko hiểu thị đúng ko :D, :'(, tý nữa t nói cái nè
                                            {
                                                <div class="ribben">
                                                    <p>HOT</p>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- end, tất cả các item nó đây đúng ko
    các cái ảnh ấy, chuẩn rồi, mỗi 1 cái item này tương ứng với 1 movie,
    nên giờ ta xóa bỏ tất, chỉ để lại 1 để tý foreach là nó ra nhiều ok
    nhầm home rồi, admin coi như xong r
    dm nhầm r :),
                            coi như xong r đấy, h chạy thôi, nhưng sẽ lỗi layout và éo chạy dc
                            tối qua ngồi mãi để sửa lại file layout :'()'
                            để t copy cho nhanh
                            chờ xíu
                            lý do là chưa có phim nào hot cả:)
                            thấy cái khung ko, nó đấy, nhưng chưa có phim nào để hiển thị thôi
    -->
                        </div>
                    </div>


                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                </div>
            </div>
        </div>
    </div>