@model Website.ViewModel.ProfileUserViewModel
@{
    ViewBag.Title = "ViewProfile";
    Layout = null;
}

@if (Model.Avatar != null)
{
    <img class="img-profile rounded-circle"
         src="@Model.Avatar" style="width:50px; height:50px; margin-right: 15px;" />
}
else
{
    <img class="img-profile rounded-circle"
         src="@(Model.Avatar==null ? "/Images/default-avatar.png" : Model.Avatar)" style="width:50px; height:50px; margin-right: 15px;" />
}
<span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size: 16px">Xin chào, @Model.FullName</span>

