@model IEnumerable<Website.ViewModel.MoviesViewModel>

@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items: 5,
            itemsDesktop: [640, 4],
            itemsDesktopSmall: [414, 3]

        });

    });
</script>



<div class="banner-bottom">
    <div class="container">
        <div class="w3_agile_banner_bottom_grid">
            <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 3996px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-444px, 0px, 0px);">
                        @foreach (var item in Model)
                        {
                            <div class="owl-item" style="width: 222px;">
                                <div class="item">
                                    @Html.Partial("_PartialMovie", item);
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
            </div>
        </div>
    </div>
</div>